<app-navbar></app-navbar>

<app-pessoas-pesquisa></app-pessoas-pesquisa>

<!--
  <app-lancamentos-pesquisa></app-lancamentos-pesquisa>
  <app-lancamento-cadastro></app-lancamento-cadastro>
  <app-pessoa-cadastro></app-pessoa-cadastro>
 -->


<ng2-toasty></ng2-toasty>

<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" #confirm>
  <p-footer>
    <button type="button" pButton icon="pi pi-check-circle" label="Sim"
      (click)="confirm.accept()"></button>
    <button type="button" pButton icon="pi pi-times-circle" label="Não"
      (click)="confirm.reject()"></button>
  </p-footer>
</p-confirmDialog>

<router-outlet></router-outlet>
